.MyGroup_box {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(10, 10, 10, 0.377);
  padding: 12px;
  border-radius: 8px;
  font-family: var(--primary-font);
  height: 49vh;
  overflow-y: auto;
}
/* scroll design */
.MyGroup_box::-webkit-scrollbar {
  width: 5px;
}

.MyGroup_box::-webkit-scrollbar-thumb {
  border-top-right-radius: 5px;
  background-color: #755feb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.MyGroup_heading {
  color: var(--secondary-color);
}
.MyGroup_container {
  display: flex;
  justify-self: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
}
.MyGroup_container:not(:last-child) {
  border-bottom: 1px solid rgba(72, 0, 155, 0.219);
}
.MyGroup_profile-part {
  width: 60%;
  display: flex;
  margin-bottom: 30px;
}
.MyGroup-profile {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}
.MyGroup-profile img {
  width: 65px;
  object-fit: cover;
}
.MyGroup-profile_name {
  margin-left: 14px;
  font-size: 20px;
  color: var(--secondary-color);
}

.admin_name span {
  font-size: 13px;
}
.group-btn--myGroup {
  align-self: start;
}
